.text-field {
  margin-bottom: 1.5rem;
  text-align: left;
}
.text-field__label {
  display: block;
}
.text-field__label-text {
  display: block;
  margin-bottom: 0.4rem;
  font-weight: 500;
}
.text-field__input {
  display: block;
  width: 100%;
  padding: 7px 5px 8px;
  font-size: 16px;
  line-height: 1.3em;
}